# IDE settings files
/.idea
/.vscode

# Packages and Package Manager Files
/node_modules
/vendor
composer.lock
package-lock.json

# Files which generate on runtime
/public/hot
/public/storage

# Key Files
/storage/*.key
.rnd

# Environment Variables Files
.env
.env.backup

# Cache and Log Files
.phpunit.result.cache
npm-debug.log
yarn-error.log
